body { 
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}
.main {
  position: absolute;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  /* max-width: 1280px; */
  /* top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); */
}
.main svg {
  display: block;
  width: 100%;
  /* min-height: 100%; */
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}
/* g {
  background: transparents;
} */
.content-frame {
  width: 100%; 
  height: 100%;
}
.content {
  display: inline-block;
  /* width: 100%; */
  height: 100%;
  clear: both;
  content: '';
  display: block;
  font-size: 12pt;
  border-right: 30px solid transparent;
  border-top: 30px solid transparent;
  /* padding: 4px; */
}
.north {
  border-top: 0;
  /* padding-top: 0; */
}
.east {
  border-right: 0;
  /* padding-right: 0; */
}
.south {
  border-bottom: 0;
  /* padding-bottom: 0; */
}
.west {
  border-left: 0;
  /* padding-left: 0; */
}
.content p {
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  line-height: 16pt;
}
.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}
.header-frame {
  display: inline-block;
  background: transparent;
  margin: -4px 0 0 -4px;
  border: 4px solid transparent;
  height: 100%;
  width: 100%;
  z-index: -999;
}
.header { 
  
  font-size: 18pt;
  line-height: 1.6;
  font-weight: bold;
  /* padding: 4px; */
  /* width: 100%; */
}
h3 {
  display: inline-block;
  margin: 0 0 8pt 0;
}
.expanding-frame > .content {
  display: inline-block;
  /* background: #eee; */
  padding: 4px 4px 0 4px;
  margin: -4px -4px 0 -4px;
  /* left: -4px; */
  /* padding: 4px; */
  border: 0;
}
.expanding-frame > .content::after {
  line-height: 160%;
  content: "Read more...";
  color: royalblue;
  /* text-decoration: underline; */
  /* text-decoration-style: dashed; */
  
  /* font-style: oblique; */
}
.clickable {
  cursor: pointer; 
}
.clickable.header {
  color: royalblue;
}
/* .clickable a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-skip-ink: auto;
  text-decoration-style: double;  
  text-decoration-color: green;
} */
g.hover .clickable {
  background-color: rgb(91%,96%,100%);
  color: royalblue;
}

p a {
  color: royalblue;
  text-decoration: none;
}
p a:hover {
  color: royalblue;
  background: rgb(91%,96%,100%);
}
a[href^="http://"]:not([href*="example.com"]):after,
a[href^="https://"]:not([href*="example.com"]):after{
    content: "\00A0↥";
    /* color: darkblue; */
}
.svg-content {
  overflow: visible;
}