body { 
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}
.main {
  position: absolute;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  /* max-width: 1280px; */
  /* top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); */
}
.main svg {
  display: block;
  width: 100%;
  /* min-height: 100%; */
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}
/* g {
  background: transparents;
} */
.content-frame {
  /* The following option is sometimes needed for .img to respect its overflow margins. 
     However, this option does not play nicely with the .hover class. */
  overflow: hidden;
  width: 100%; 
  height: 100%;
}
.content {
  display: inline-block;
  /* width: 100%; */
  height: 100%;
  /* background: yellow; */
  clear: both;
  content: '';
  display: block;
  font-size: 12pt;
  border: 0;
  /* border-right: 30px solid white;
  border-top: 30px solid white; */
  margin-right: 30px; 
  margin-top: 30px; 
  /* padding: 4px; */
}
.north {
  border-top: 0;
  /* padding-top: 0; */
}
.east {
  border-right: 0;
  /* padding-right: 0; */
}
.south {
  border-bottom: 0;
  /* padding-bottom: 0; */
}
.west {
  border-left: 0;
  /* padding-left: 0; */
}
.content p {
  margin: 12pt 0 0 0;
  text-align: justify;
  text-justify: inter-word;
  line-height: 16pt;
}
.content p:first-child {
  margin: 0 !important;
}
/* .content p br {
  margin-top: ;
} */
.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}
.header-frame {
  display: inline-block;
  background: transparent;
  margin: -4px 0 0 -4px;
  border: 4px solid transparent;
  height: 100%;
  width: 100%;
  z-index: -999;
}
.header { 
  
  font-size: 18pt;
  line-height: 1.6;
  font-weight: bold;
}
h3 {
  display: inline-block;
  margin: 0;
}
.expanding-frame > .content::after {
  line-height: 160%;
  content: "Read more...";
  color: royalblue;
}
g.hover .expanding-frame > .content::after {
  color: rgb(44, 75, 167);
}
.clickable {
  cursor: pointer; 
}
.clickable.header {
  color: royalblue;
}

g.hover .expanding-frame {
  overflow: visible;
  /* display: inline-block; */
  /* position: relative; */
}
g.hover .expanding-frame .clickable.content {
  display: inline-block;
  margin: 26px 26px 0 -4px; 
  padding: 4px 4px 0 4px;
  background-color: rgb(91%,96%,100%);
  /* border-top: 30px solid red; */
  /* border-right: 30px solid red; */
  color: royalblue;
}

g.hover .clickable.header {
  background-color: rgb(91%,96%,100%);
  color: rgb(44, 75, 167);
}

p a {
  color: royalblue;
  text-decoration: none;
}
p a:hover {
  color: rgb(44, 75, 167);
  background: rgb(91%,96%,100%);
}
a[href^="http://"]:not([href*="example.com"]):after,
a[href^="https://"]:not([href*="example.com"]):after{
    content: "\00A0↥";
    /* color: darkblue; */
}
.svg-content {
  overflow: visible;
}